@keyframes slideInFromLeftWithOpacity {
  0% {
    transform: translateX(-30%);
		opacity: 0;
  }
  100% {
    transform: translateX(0);
		opacity: 1;
  }
}

main {
	animation: 850ms ease-out 0s 1 slideInFromLeftWithOpacity;
}
